{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    <form action="/buy" method="post">
        <div class="mb-3">
            <input autofocus autocomplete="off" class="form-control mx-auto w-auto" name="symbol" type="text" placeholder="Symbol">
        </div>
        <div class="mb-3"><center>
            <input autocomplete="off" class="mix-auto w-auto" name="shares" placeholder="Shares"></center>
        </div>
        <button class="btn btn-primary" type="submit"> Buy </button>
    </form>

{% endblock %}